@charset "UTF-8";

body {
    background-color: rgb(197, 252, 196);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:rgb(4, 109, 0);
}

#principal {
text-align: center;
background-color: rgb(4, 109, 0);
color: white;
}

h2 {
color:rgb(74, 109, 71);
}